{% extends "base.html" %}

{% block title %}
Candidates
{% endblock %}

{% block content %}

<h2 class="mb-4">Candidate List</h2>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>ID</th>

            <th>Name</th>

            <th>Email</th>

            <th>Phone</th>

            <th>Resume</th>

        </tr>

    </thead>

    <tbody>

        {% for resume in resumes %}

        <tr>

            <td>{{ resume.id }}</td>

            <td>{{ resume.full_name }}</td>

            <td>{{ resume.email }}</td>

            <td>{{ resume.phone }}</td>

            <td>{{ resume.file_name }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}