{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-6">

        <div class="card p-3">

            <h4>Total Jobs</h4>

            <h1>{{ total_jobs }}</h1>

        </div>

    </div>

    <div class="col-md-6">

        <div class="card p-3">

            <h4>Total Resumes</h4>

            <h1>{{ total_resumes }}</h1>

        </div>

    </div>

</div>

<hr>

<h3>Recent Candidates</h3>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>Name</th>

            <th>Email</th>

            <th>Resume</th>

        </tr>

    </thead>

    <tbody>

    {% for candidate in recent_candidates %}

        <tr>

            <td>{{ candidate.full_name }}</td>

            <td>{{ candidate.email }}</td>

            <td>{{ candidate.file_name }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}