{% extends "base.html" %}

{% block title %}
Jobs | ResumeAI
{% endblock %}

{% block content %}

<div class="page-header">

    <div>

        <h2>Job Positions</h2>

        <p>
            Manage your recruitment screening jobs.
        </p>

    </div>

    <a
        href="{{ url_for('job.create_job') }}"
        class="btn btn-primary">

        <i class="bi bi-plus-lg"></i>

        Create Job

    </a>

</div>


<div class="dashboard-card">


    <div class="row mb-4">

        <div class="col-md-6">

            <input
                type="search"
                id="jobSearch"
                class="form-control"
                placeholder="Search jobs...">

        </div>

    </div>


    <div class="table-responsive">

        <table
            class="table align-middle"
            id="jobsTable">

            <thead>

                <tr>

                    <th>Job Title</th>

                    <th>Department</th>

                    <th>Location</th>

                    <th>Candidates</th>

                    <th>Status</th>

                    <th>Action</th>

                </tr>

            </thead>


            <tbody>

                {% for job in jobs %}

                <tr>

                    <td>
                        <strong>
                            {{ job.title }}
                        </strong>
                    </td>

                    <td>
                        {{ job.department }}
                    </td>

                    <td>
                        {{ job.location }}
                    </td>

                    <td>
                        {{ job.candidates }}
                    </td>

                    <td>

                        <span class="badge bg-success">
                            Active
                        </span>

                    </td>

                    <td>

                        <a
                            href="#"
                            class="btn btn-sm btn-outline-primary">

                            View

                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}