{% extends "base.html" %}

{% block content %}

<h2>Jobs</h2>

<a href="/create-job"
   class="btn btn-success mb-3">

Create Job

</a>

<table class="table table-bordered">

<thead>

<tr>

<th>ID</th>

<th>Title</th>

<th>Company</th>

<th>Skills</th>

<th>Experience</th>

</tr>

</thead>

<tbody>

{% for job in jobs %}

<tr>

<td>{{ job.id }}</td>

<td>{{ job.title }}</td>

<td>{{ job.company }}</td>

<td>{{ job.skills }}</td>

<td>{{ job.experience }} Years</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}